{% extends 'base.html' %}
{% block content %}
<div class="col-md-3"></div>
<div class="col-md-6">
	Welcome to your profile page<br>
    <div class="panel panel-default">
	<div class="panel-body">
		{% for obj in obj %}
			{{obj.first_name.capitalize}}
			{{obj.last_name.capitalize}}
			<table>
				<tr>
					<th>Long Url</th>
					<th>Short Url</th>
				</tr>
				<tr>
					<td>{{obj.token}}</td>
					<td>{{obj.slyurl}}</td>
				</tr>
			</table>
			
		{% endfor %}
		
	</div>
	</div>
	</div>
		
<div class="col-md-3"></div>



{% endblock %}