{% extends 'base.html' %}
{% load fullurl %}

{% block js %}
	<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5a200590689cdf0012ad4a62&product=inline-share-buttons' async='async'></script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-10">
		<div>Your shortcode has been succesfully created as shown below:</div>
		<P><a href="{{obj.long_url}}">{{obj.long_url}}</a></P> is now: <p><a href="{% buildfullurl obj.get_short_url %}">{% buildfullurl obj.get_short_url %}</a>
		<div class="sharethis-inline-share-buttons"></div>
		</P>
			
	</div>
	
</div>


{% endblock %}